name: Deploy to GCS

on:
  push:
    branches:
      - main  # Change this to the branch you want to trigger the deployment from

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: set up google Cloud sdk
        uses: google-github-actions/setup-gcloud@main
        with:
          version: 'latest'
         # credentials_json: '${{ secrets.GCP_SA_KEY }}'  # Change this to the desired Google Cloud SDK version
         
      - name: Set GOOGLE_APPLICATION_CREDENTIALS
        run: echo "$GCP_SA_KEY" > $HOME/credentials.json
        env:
          GCP_SA_KEY: ${{ secrets.Actions.GCP_SA_KEY }}
      - name: Deploy to GCS
        run: |
          gsutil cp -r ./.github/workflows/push-to-stg.yml gs://test-storage-auto
