name: Deploy to GCS

on:
  push:
    branches:
      - main  # Change this to the branch you want to trigger the deployment from

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '2.7'

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          version: '333.0.0'  # Change this to the desired Google Cloud SDK version

      - name: Configure Google Cloud SDK
        run: gcloud auth activate-service-account --key-file=${{ secrets.GCP_SA_KEY }}

      - name: Deploy to GCS
        run: |
          gsutil cp -r ./.github/workflows/push-to-stg.yml gs://test-storage-auto
